<a href="https://colab.research.google.com/github/revanth1408/revanth-reddy/blob/master/Assignment1module3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Convert Binary number to decimal 
     Ex: 1 0 0 1 0 =1 x 2 5 + 0 x 2 4 + 0 x 2 3 + 1 x 2 2 + 0 x 2 1

In [ ]:
a=int(input("Enter a number"))
k=str(a)
c=len(k)-1
print(c)
while (i!=c):
  for(i=0;i>n;i++):
    a=math.pow(2,n)
print(a)

SyntaxError: ignored

2. Generate first N number of Fibonacci numbers. Take N value from user

In [ ]:
def fibonacci(n):
  if n<0:
    print('incorrect input')
  elif n==1:
    return 0
  elif n==2:
    return 1
  else:
    return fibonacci(n-1)+fibonacci(n-2)
print(fibonacci(9))

21

3. Display multiplication table of K. Take k value from user 
    Ex: 7 x 1 =7 
     7 x 2 = 14 .....

In [ ]:
n=int(input("enter a number to display its multiplication table"))
for i in range(1,11):
  print(n,'X',i,'=',n*i)

enter a number to display its multiplication table5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

4. Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers.

In [ ]:
def gcd(a,b):
  if (a==0 or b==0):
    false
  if (a==b):
    return a
  if (a>b):
    return gcd(a-b,b)
  return gcd(a,b-a)
a=10
b=15
if (gcd(a,b)):
  print('GCD of',a,'and',b,'is',gcd(a,b))
else:
  print('Not found')

GCD of 10 and 15 is 5

6. Write a Python program that accepts a word from the user and reverse it

In [ ]:
word=input("word is")
revword=word[-1::-1]
print("the reverse word is",revword)

word isdad
the reverse word is dad

7. Write a Python program to count the number of even and odd numbers from a series of numbers.

In [ ]:
numbers=(1,2,3,4,5,6,7,8,9)
count_odd=0
count_even=0
for x in numbers:
  if not x%2:
    count_even+=1
  else:
    count_odd+=1
print("no.of even numbers",count_even)
print("no.of odd numbers",count_odd)

no.of even numbers 4
no.of odd numbers 5

8. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

In [ ]:
for i in range(6):
  if(i==3 or i==6):
    continue
  print(i,end='')

01245